# Dependencies for data, API, and database
psycopg2-binary
pandas
numpy
requests
SQLAlchemy
python-dotenv

# Dependencies for Cython compilation
Cython

# Dependencies for analysis and visualization
scikit-learn
umap-learn
dash
dash-bootstrap-components
plotly
tqdm
